POSTGRES_DB=nunchi
POSTGRES_USER=nunchi
POSTGRES_PASSWORD=change_me

LOCAL_DB_URL=jdbc:postgresql://postgres:5432/nunchi
LOCAL_DB_USERNAME=nunchi
LOCAL_DB_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379